// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.youtube-placeholder, .video-container {
	width: 480px;
	height: 360px;
}

.video-container {
	display: inline-block;
	position: relative;
}

.icon-play {
	position: absolute;
	top: 116px;
	left: 176px;
}

.video-container, .icon-play {
	cursor: pointer;
}